DATABASE_URL=postgresql://postgres:postgres@db:5432/west_santo_travel?schema=public
APP_BASE_URL=http://localhost:3000
SESSION_SECRET=replace-with-a-long-random-secret
KEYCLOAK_ISSUER_URL=http://localhost:8080/realms/west-santo
KEYCLOAK_CLIENT_ID=west-santo-web
#KEYCLOAK_CLIENT_SECRET=replace-with-keycloak-client-secret


KEYCLOAK_CLIENT_SECRET=GkJdK8h8OgLmfVXK08CrkOGiXez2tQz8